body {
    background-color:black;
    color: white ;
    font-family: Arial, serif;
}
h1{
    color:grey;
    font-family: verdana, serif;
}
.highlight{
    color: red;
}

.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align-self: center;

}

